<mat-toolbar class="container">
  @if((isMobile | async)?.matches && user().name !== '') {
  <button mat-icon-button (click)="onToggleSidenav()" data-testid="toggle-sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  }
  <div class="left">
    <span routerLink="/feature/home" style="cursor: pointer">
      <div class="valign-icon-text menu-font">
        <mat-icon color="primary">euro</mat-icon>{{ 'app.title' | translate }}
      </div>
    </span>
  </div>

  <div class="center">
    @if(budgetState$ | async; as budgetState) {
    <!-- Select budget -->
    @if(showBudget) {
    <mat-form-field class="menu-font budget form-field-no-error transparent-select" floatlLabel="never">
      <mat-select
        (selectionChange)="onChangeBudget($event)"
        [value]="budgetState.budgetId"
        placeholder="'{{ 'ctrl.select.budget' | translate }}"
        data-testid="change-budget"
      >
        @for (item of budgetState.budgets; track item.id) {
        <mat-option [value]="item.id">
          {{ item.budgetName }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    } } @if (user().name == ''; as user) {
    <div class="float-rigth">
      <button mat-button (click)="onSelectLanguage('en-GB')" data-testid="lang-es">
        <div class="valign-icon-text" title="English">
          <img class="flag" src="../../../../assets/images/flag_united_kingdom_64x64.png" alt="English" height="32" />
          @if(!(isMobile | async)?.matches) {
          <span>English</span>
          }
        </div>
      </button>
      <button mat-button (click)="onSelectLanguage('es-ES')" data-testid="lang-en">
        <div class="valign-icon-text" title="Español">
          <img class="flag" src="../../../../assets/images/flag_spain_64x64.png" alt="Español" height="32" />
          @if(!(isMobile | async)?.matches) {
          <span>Español</span>
          }
        </div>
      </button>
      <button mat-button (click)="onSelectLanguage('sv-SE')" data-testid="lang-sv">
        <div class="valign-icon-text" title="Svenska">
          <img class="flag" src="../../../../assets/images/flag_sweden_64x64.png" alt="Svenska" height="32" />
          @if(!(isMobile | async)?.matches) {
          <span>Svenska</span>
          }
        </div>
      </button>
    </div>
    }
  </div>
  <div class="right">
    @if(!(isMobile | async)?.matches) {
    <app-menu></app-menu>
    }
  </div>
</mat-toolbar>

@if((isMobile | async)?.matches) {
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [mode]="'side'" [opened]="isSideNavOpen">
    <app-menu (navigated)="onNavigate()"></app-menu>
  </mat-sidenav>
</mat-sidenav-container>
}
