@use '../../../../content/variables' as v;
@use '@angular/material' as mat;

.sidenav-container {
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 56px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  margin-left: 10px;
}

.right {
  width: 0%;
}

.menu-font {
  font-size: 16px;
}

.budget {
  color: v.$accent-fg;
}

// -------------------------------
// Computer
// -------------------------------
@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .right {
    width: auto;
  }

  .menu-font {
    font-size: unset;
  }
}
