<form [formGroup]="form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Ange email" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Lösenord</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Lösenord" />
    </mat-form-field>
  </div>

  <div style="text-align: center">
    <button mat-raised-button color="primary" (click)="login()">Logga in</button>
  </div>
</form>
