<div class="page" style="text-align: center">
  <h2>{{ 'page.title.login' | translate }}</h2>

  <form [formGroup]="form" (ngSubmit)="login()" data-testid="form">
    <div class="form-field-error">
      <!-- @Test only for testing purpose -->
      <div>{{ 'test.enter' | translate }}: test&#64;test.com</div>
      <mat-form-field style="width: 234px">
        <mat-label>{{ 'global.email' | translate }}</mat-label>
        <input matInput formControlName="email" placeholder="Email" required data-testid="email" />
        @if(email?.invalid) {
        <mat-error>
          <span data-testid="email-error">{{ getErrorMessage(email, 'Email') }}</span>
        </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-field-error">
      <!-- @Test only for testing purpose -->
      <div>{{ 'test.enter' | translate }}: 123456</div>
      <mat-form-field>
        <mat-label>{{ 'global.password' | translate }}</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="{{ 'global.password' | translate }}"
          required
          data-testid="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          data-testid="show-password"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if(password?.invalid) {
        <mat-error>
          <span data-testid="password-error">{{ getErrorMessage(password, 'global.password' | translate) }}</span>
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div>
      <button mat-flat-button color="primary" type="submit" data-testid="submit">
        {{ 'ctrl.button.login' | translate }}
      </button>
    </div>
  </form>
</div>
