<div class="page" style="text-align: center">
  <h2>Logga In</h2>

  <form [formGroup]="form" (ngSubmit)="login()" data-testid="form">
    <div class="form-field-error">
      <!-- @test only for testing purpose -->
      <div>Ange: test&#64;test.com</div>
      <mat-form-field style="width: 234px">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ange email" required data-testid="email" />
        <mat-error *ngIf="email?.invalid">
          <span data-testid="email-error">{{ getErrorMessage(email, 'Email') }}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field-error">
      <!-- @test only for testing purpose -->
      <div>Ange: 123456</div>
      <mat-form-field>
        <mat-label>Lösenord</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Lösenord"
          required
          data-testid="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          data-testid="show-password"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.invalid">
          <span data-testid="password-error">{{ getErrorMessage(password, 'Lösenord') }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <button mat-flat-button color="primary" type="submit" data-testid="submit">Logga in</button>
    </div>
  </form>
</div>
