<div class="row-xl max-table-height">
  <table mat-table [dataSource]="currencies()" class="tbl">
    <ng-container matColumnDef="currencyCode">
      <th mat-header-cell *matHeaderCellDef>{{ 'page.label.currency' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.code }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="budgetRate">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'ctrl.input.budget_fx_rate' | translate }}
        <mat-icon [matTooltip]="'page.label.budget_fx_rate_info' | translate">info</mat-icon>
      </th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.budgetRate | number : '1.0-6' }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="averageRate">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'ctrl.input.average_fx_rate' | translate }}
        <mat-icon [matTooltip]="'page.label.average_fx_rate_info' | translate">info</mat-icon>
      </th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.averageRate | number : '1.0-6' }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button
          mat-icon-button
          type="button"
          [title]="'page.label.remove_currency' | translate"
          (click)="onDelete($event, item)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let item; columns: displayedColumns"
      [class.selected]="item.selected"
      (click)="onSelect(item)"
    ></tr>
  </table>
</div>
