<div style="text-align: center">
  <div>
    <button class="home-btn" mat-raised-button routerLink="/feature/actual-item">
      <div>Transaktioner</div>
      <div><mat-icon>credit_card</mat-icon></div>
    </button>

    <button class="home-btn" mat-raised-button routerLink="/feature/budget-variance">
      <div>Utfall</div>
      <div><mat-icon>insights</mat-icon></div>
    </button>
  </div>
  <div>
    <button class="home-btn" mat-raised-button routerLink="/feature/budget-item">
      <div>Hantera Budget</div>
      <div><mat-icon>table_chart</mat-icon></div>
    </button>

    <button class="home-btn" mat-raised-button routerLink="/feature/create-version">
      <div>Ny Version</div>
      <div><mat-icon>123</mat-icon></div>
    </button>
  </div>
</div>
