<div style="text-align: center">
  <div>
    <button class="home-btn" mat-raised-button routerLink="/feature/actual-item">
      <div class="btn-title">Transaktioner</div>
      <mat-icon>credit_card</mat-icon>
    </button>

    <button class="home-btn" mat-raised-button routerLink="/feature/budget-variance">
      <div class="btn-title">Utfall</div>
      <mat-icon>insights</mat-icon>
    </button>
  </div>
  <div>
    <button class="home-btn" mat-raised-button routerLink="/feature/budget-item">
      <div class="btn-title">Hantera Budget</div>
      <mat-icon>table_chart</mat-icon>
    </button>

    <button class="home-btn" mat-raised-button routerLink="/feature/create-version">
      <div class="btn-title">Ny Version</div>
      <mat-icon>123</mat-icon>
    </button>
  </div>
</div>
