<h2>
  {{ 'page.title.manage_units' | translate }}
  <span class="title">{{ budgetState.hasBudget ? ' (' + budgetState.budgetName + ')' : '' }}</span>
</h2>

@if(pageLoaded() && budgetState.hasBudget) {
<form
  [formGroup]="form"
  #formDirective="ngForm"
  autocomplete="off"
  (ngSubmit)="onSaveUnit(formDirective)"
  data-testid="form"
>
  <div class="head-section form-field-error">
    <div style="font-style: italic">
      <mat-label>{{ 'ctrl.input.unit_example' | translate }}</mat-label>
    </div>
    <mat-form-field>
      <mat-label>{{ 'ctrl.input.unit_name' | translate }}</mat-label>
      <input
        #itemRef
        matInput
        placeholder="{{ 'ctrl.input.unit_name' | translate }}"
        formControlName="unitName"
        type="text"
        [errorStateMatcher]="matcher"
        data-testid="unit"
      />
      @if(unitName?.invalid) {
      <mat-error data-testid="unit-error">{{ getErrorMessage(unitName, 'page.label.unit' | translate) }}</mat-error>
      }
    </mat-form-field>

    <mat-checkbox formControlName="useCurrency" (change)="onChangeUseCurrency($event)" data-testid="use-currency">
      {{ 'ctrl.checkbox.use_currency' | translate }}
    </mat-checkbox>
  </div>

  @if(form) {
  <div>
    <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid" data-testid="submit">
      {{ 'global.save' | translate }}
    </button>
    <mat-radio-group class="v-radio-group" formControlName="action" (change)="onChangeAction()" data-testid="action">
      <mat-radio-button value="add">{{ 'global.add' | translate }}</mat-radio-button>
      <mat-radio-button value="edit" [disabled]="action?.value === 'add'">
        {{ 'global.edit' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  }
</form>

<div class="row-xl max-table-height">
  <table mat-table [dataSource]="units()" class="tbl">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'page.label.unit' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.unitName }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="useCurrency">
      <th mat-header-cell *matHeaderCellDef>{{ 'page.label.use_currency' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-icon>{{ item.useCurrency ? 'check' : '' }}</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button
          mat-icon-button
          type="button"
          title="{{ 'ctrl.button.delete.unit' | translate }}"
          (click)="onDeleteUnit($event, item)"
          data-testid="delete"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let item; columns: displayedColumns"
      [class.selected]="item.selected"
      (click)="onSelectUnit(item)"
      data-testid="select-item"
    ></tr>
  </table>
</div>
<!-- No budget -->
} @else { @if(pageLoaded()) {
<div>
  {{ 'page.empty.unit' | translate }}
  <a href="/feature/create-budget">{{ 'page.link.create_budget' | translate }}</a
  >.
</div>
} }
