<h2>{{ title }} {{ budgetState.hasBudget ? '- Budget: ' + budgetState.budgetName : '' }}</h2>

<ng-container *ngIf="budgetState.hasBudget; else noExistingBudget">
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    autocomplete="off"
    (ngSubmit)="onSaveUnit(formDirective)"
    data-testid="form"
  >
    <div class="form-field-error">
      <div style="font-style: italic">
        <mat-label>Exempel: Antal, Pris per månad, etc...</mat-label>
      </div>
      <mat-form-field>
        <mat-label>Enhet</mat-label>
        <input
          #itemRef
          matInput
          placeholder="Ange enhet"
          formControlName="unitName"
          type="text"
          [errorStateMatcher]="matcher"
          data-testid="unit"
        />
        <mat-error *ngIf="unitName?.invalid">{{ getErrorMessage(unitName, 'Enhet') }}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="useCurrency" (change)="onChangeUseCurrency($event)" data-testid="use-currency">
        Använd valutaberäkning för den här enheten
      </mat-checkbox>
    </div>
    <div *ngIf="form">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" data-testid="submit">
        Spara
      </button>
      <mat-radio-group class="v-radio-group" formControlName="action" (change)="onChangeAction()" data-testid="action">
        <mat-radio-button value="Add">Lägg till enhet</mat-radio-button>
        <mat-radio-button value="Edit" [disabled]="action?.value === 'Add'">Ändra vald enhet</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>

  <div class="row-xl max-table-height">
    <table mat-table [dataSource]="$any(units$ | async)" class="tbl">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Enhet</th>
        <td mat-cell *matCellDef="let item">
          <mat-label>{{ item.unitName }}</mat-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="useCurrency">
        <th mat-header-cell *matHeaderCellDef>Valutaberäkning</th>
        <td mat-cell *matCellDef="let item">
          <mat-icon>{{ item.useCurrency ? 'check' : '' }}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button type="button" title="Ta bort enhet" (click)="onDeleteUnit($event, item)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let item; columns: displayedColumns"
        [class.selected]="item.selected"
        (click)="onSelectUnit(item)"
        data-testid="select-item"
      ></tr>
    </table>
  </div>
</ng-container>

<ng-template #noExistingBudget>
  <div *ngIf="pageLoaded">
    Det finns ingen budget upplagd som enheter kan kopplas till.
    <a href="/feature/create-budget">Skapa en ny budget</a>.
  </div>
</ng-template>
