<h2>
  Ta Bort Budgetår
  <span class="title">{{ budgetState.hasBudget ? ' (' + budgetState.budgetName + ')' : '' }}</span>
</h2>

@if((pageLoaded$ | async) && $any(budgetYear$ | async)?.budgetYears; as budgetYears) {
<!-- Check if budget exist -->
@if(budgetYears.length !== 0) {
<form [formGroup]="form" (ngSubmit)="onDeleteBudgetYear($event)">
  <div class="head-section">
    <div>
      <mat-form-field>
        <mat-label>Välj år</mat-label>
        <mat-select formControlName="budgetYearId" [errorStateMatcher]="matcher" required>
          @for (item of budgetYears; track item.id) {
          <mat-option [value]="item.id">
            {{ item.year }}
          </mat-option>
          }
        </mat-select>
        @if(budgetYearId?.invalid) {
        <mat-error>{{ getErrorMessage(budgetYearId, 'År') }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div>
      <button
        mat-flat-button
        color="warn"
        type="submit"
        [disabled]="budgetYears.length === 0 || !form.valid || budgetYearId?.value === -1"
      >
        Ta bort
      </button>
    </div>
  </div>
</form>
}
<!-- No budget -->
} @else { @if(pageLoaded$ | async) {
<div>Det finns inget budgetår att ta bort</div>
} }
