$primary: #3cad1f;
$accent-fg: #539cf7;

$light0: #ffffff;
$light1: #e9e9e9;
$light2: #c3c3c3;
$light3: #8f8f8f;
$light4: #999999;

$dark0: #000000;
$dark1: #1f1f1f;
$dark2: #262626;
$dark3: #303030;
$dark3b: #3b3b3b;
$dark4: #424242;
$dark5: #5f5f5f;

// Type of content
$success-fg: $primary;
$success-bg: #163d0c;
$info-fg: #e97171;
$info-bg: red;
$warning-fg: #dfa559;
$warning-bg: #6d4f29;
$error-fg: #e97171;
$error-bg: #581e1e;
$simple-fg: $primary;
$simple-bg: #000000;

$body-background: $dark4;
$table-header: #262626;
$selected-bg: #384660;
$page-fg: #e5e5e5;
$border: #7a7a7a;
$link-hover: #91bbef;
$link: $accent-fg;
$list-bg: #363636;
$color: #c9c9c9;
