@use '@angular/material' as mat;
@use '../content/variables' as v;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    ),
    $overrides: ('background': v.$dark3)
  );

  .transparent-select {
    @include mat.form-field-overrides(
      (
        filled-container-color: transparent,
      )
    );
  }
}

:root {
  @include mat.dialog-overrides(
    (
      container-color: v.$dark3,
    )
  );
}
