@use '@angular/material' as mat;

@include mat.core();

$my-primary-palette: (
  50: #e8f5e4,
  100: #c5e6bc,
  200: #9ed68f,
  300: #77c662,
  400: #59b941,
  500: #3cad1f,
  600: #36a61b,
  700: #2e9c17,
  800: #279312,
  900: #1a830a,
  A100: #baffb3,
  A200: #8cff80,
  A400: #5eff4d,
  A700: #47ff33,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$my-accent-palette: (
  50: #eaf3fe,
  100: #cbe1fd,
  200: #a9cefb,
  300: #87baf9,
  400: #6dabf8,
  500: #539cf7,
  600: #4c94f6,
  700: #428af5,
  800: #3980f3,
  900: #296ef1,
  A100: #ffffff,
  A200: #fcfdff,
  A400: #c9daff,
  A700: #afc9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$my-warn-palette: (
  50: #fceeee,
  100: #f8d4d4,
  200: #f4b8b8,
  300: #f09c9c,
  400: #ec8686,
  500: #e97171,
  600: #e66969,
  700: #e35e5e,
  800: #df5454,
  900: #d94242,
  A100: #ffffff,
  A200: #fff8f8,
  A400: #ffc5c5,
  A700: #ffacac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-primary: mat.m2-define-palette($my-primary-palette);
$my-accent: mat.m2-define-palette($my-accent-palette);
$my-warn: mat.m2-define-palette($my-warn-palette);

$my-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    // typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
// @include mat.button-theme($my-theme);
