@use '../content/variables.scss' as v;

.page {
  padding: 10px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  color: v.$page-fg;
}

.filter {
  border: 1px solid v.$border;
  border-radius: 4px;
  margin: 10px;
}

.server-error {
  background-color: v.$error-fg;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 1px solid #000000;
}

.title {
  font-size: 14px;
  color: v.$accent-fg;
}

.head-section {
  text-align: center;
}

// .mat-form-field {
//   width: 100%;
// }

// -------------------------------
// Computer
// -------------------------------
@media (min-width: 600px) {
  .page {
    padding: 20px;
    width: 80%;
  }

  .server-error {
    max-width: 500px;
  }

  .head-section {
    text-align: left;
  }
}
