@use '../content/variables.scss' as v;
@use '@angular/material' as mat;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  color: v.$link;
}

a:hover {
  color: v.$link-hover;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

h2 {
  font-weight: normal;
}

// -------------------------------
// Alignment
// -------------------------------
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix {
  clear: both;
}

.valign-icon-text {
  display: flex;
  align-items: center;
}

// -------------------------------
// Grid
// -------------------------------
.row {
  padding: 2px 3px;
}

.row-md {
  padding: 4px 3px;
}

.row-xl {
  padding: 10px 3px;
}

// -------------------------------
// Other
// -------------------------------
.negative-number {
  color: v.$error-fg;
}

// -------------------------------
// Shorten text with elipse "..."
// -------------------------------
.shorten-text-m,
.shorten-text-ms,
.shorten-text-s {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shorten-text-m {
  max-width: 220px;
}

.shorten-text-ms {
  max-width: 165px;
}

.shorten-text-s {
  max-width: 110px;
}

// -------------------------------
// Angular material styles
// -------------------------------
.form-field-note {
  width: 100%;
  min-width: 300px;
}

.form-field-error .mat-mdc-form-field {
  margin-bottom: 15px;
}

.mat-mdc-form-field-error {
  font-size: 11px;
}

.mat-mdc-form-field,
.mat-mdc-select,
.mat-mdc-option {
  margin-right: 3px;
  // color: v.$color !important;
  vertical-align: top;
  font-size: 14px !important;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: v.$color !important;
}

.v-radio-group .mat-radio-button {
  width: auto;
  margin: 0 8px;
}

.year-version {
  display: inline-block;
}

.form-field-no-error {
  margin-bottom: -1.28em;
}

// -------------------------------
// Browser Specific Styles
// -------------------------------

// Prevent light yellow background in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: v.$light0;
}

// -------------------------------
// Computer
// -------------------------------
@media (min-width: 600px) {
  .form-field-note {
    width: 50%;
  }
}
