table.tbl {
  width: 100%;
  border: none;
}

table.tbl th,
table.tbl td {
  padding: 0 6px !important;
}

table.tbl tr td {
  cursor: pointer;
}

.max-table-height {
  min-height: 500px;
  max-height: 600px;
  overflow: auto;
  position: relative;
}

.mat-table-sticky {
  background: v.$table-header;
  opacity: 1;
}

.selected {
  background: v.$selected-bg;
}

// -------------------------------
// Computer
// -------------------------------
@media (min-width: 600px) {
  .max-table-height {
    min-height: auto;
  }
}
