<h2>
  {{ 'page.title.manage_version' | translate }}*
  <span class="title">{{ budgetState.hasBudget ? ' (' + budgetState.budgetName + ')' : '' }}</span>
</h2>

@if(pageLoaded() && budgetYear(); as budget) {
<!-- Check if budget exist -->
@if(budget.budgetYears.length !== 0) {
<form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSaveVersion(formDirective)">
  <div class="head-section form-field-error">
    <mat-form-field>
      <mat-label>{{ 'ctrl.select.year' | translate }}</mat-label>
      <mat-select
        formControlName="year"
        [errorStateMatcher]="matcher"
        (selectionChange)="onChangeYear($event)"
        required
      >
        @for (item of budget.budgetYears; track item.id) {
        <mat-option [value]="item.id">
          {{ item.year }}
        </mat-option>
        }
      </mat-select>
      @if(year?.invalid) {
      <mat-error>{{ getErrorMessage(year) }}</mat-error>
      }
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>{{ 'global.name' | translate }}</mat-label>
    <input matInput type="text" formControlName="versionName" [errorStateMatcher]="matcher" required />
    @if(versionName?.invalid) {
    <mat-error>{{ getErrorMessage(versionName, 'page.label.the_name' | translate) }}</mat-error>
    }
  </mat-form-field>
  @if(budget.versions.length > 1) {
  <button
    mat-flat-button
    type="button"
    [disabled]="currencies().length === 0 || year?.value === -1"
    (click)="onDeleteVersion($event)"
  >
    {{ 'ctrl.button.delete.version' | translate }}
  </button>
  } @if(year?.value && year?.value !== -1) {
  <div>
    <app-currency-form [currencies]="currencies" [deletable]="false" formControlName="currencyForm"></app-currency-form>
  </div>
  }

  <div>
    <button mat-flat-button color="primary" type="submit" [disabled]="currencies().length === 0 || year?.value === -1">
      {{ 'ctrl.button.update.version' | translate }}
    </button>
  </div>
</form>
<!-- No budget -->
} @else { @if(pageLoaded()) {
<div>{{ 'page.empty.version' | translate }}</div>
} }}

<div class="row-xl">
  <span style="font-style: italic">
    * {{ 'page.label.version_restriction' | translate }}
  </span>
</div>
