<h2>Hantera Version* {{ budgetState.hasBudget ? '- Budget: ' + budgetState.budgetName : '' }}</h2>

<ng-container *ngIf="budgetYear$ | async as budget">
  <ng-container *ngIf="budget.budgetYears.length !== 0; else noExistingYears">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSaveVersion(formDirective)">
      <div class="form-field-error">
        <mat-form-field>
          <mat-label>Välj år</mat-label>
          <mat-select
            formControlName="year"
            [errorStateMatcher]="matcher"
            (selectionChange)="onChangeYear($event)"
            required
          >
            <mat-option *ngFor="let item of budget.budgetYears" [value]="item.id">
              {{ item.year }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="year?.invalid">{{ getErrorMessage(year) }}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-error">
        <mat-form-field>
          <mat-label>Namn</mat-label>
          <input matInput type="text" formControlName="versionName" [errorStateMatcher]="matcher" required />
          <mat-error *ngIf="versionName?.invalid">{{ getErrorMessage(versionName, 'Namnet') }}</mat-error>
        </mat-form-field>
        <button
          *ngIf="budget.versions.length > 1"
          mat-raised-button
          type="button"
          [disabled]="$any(currencies$ | async).length === 0 || year?.value === -1"
          (click)="onDeleteVersion($event)"
        >
          Ta bort aktuell version
        </button>
      </div>

      <div *ngIf="year?.value && year?.value !== -1">
        <app-currency-form
          [currencies$]="currencies$"
          [deletable]="false"
          formControlName="currencyForm"
        ></app-currency-form>
      </div>

      <div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="$any(currencies$ | async).length === 0 || year?.value === -1"
        >
          Uppdatera version
        </button>
      </div>
    </form>
  </ng-container>
</ng-container>

<div class="row-xl">
  <span style="font-style: italic">
    * Version kan endast tas bort om det finns mer än en version för det valda året
  </span>
</div>

<ng-template #noExistingYears>
  <div *ngIf="pageLoaded">Det finns inget budgetår och därmed ingen version att modifiera eller ta bort</div>
</ng-template>
