<h2>
  {{ 'page.title.manage_budget' | translate }}
  <span class="title">{{ budgetState.hasBudget ? ' (' + budgetState.budgetName + ')' : '' }}</span>
</h2>

@if(pageLoaded() && manageBudgetItem(); as budget) {
<!-- Check for existing budget -->
@if(budget.budgetYears.length !== 0) {
<!-- Check for existing categories -->
@if(budget.categories.length !== 0;) {
<!-- Check for existing units -->
@if(budget.units.length !== 0) {
<form [formGroup]="form" (ngSubmit)="onSaveBudgetItem()">
  <div class="form-field-error">
    <mat-form-field>
      <mat-label>{{ 'ctrl.select.year' | translate }}</mat-label>
      <mat-select
        formControlName="budgetYearId"
        [errorStateMatcher]="matcher"
        (selectionChange)="onChangeYear($event)"
        required
      >
        @for (item of budget.budgetYears; track item.id) {
        <mat-option [value]="item.id">
          {{ item.year }}
        </mat-option>
        }
      </mat-select>
      @if(budgetYearId?.invalid) {
      <mat-error>{{ getErrorMessage(budgetYearId) }}</mat-error>
      }
    </mat-form-field>

    <span class="year-version">{{ 'page.label.current_version' | translate }}: {{ budget?.version?.versionName }}</span>
  </div>

  <div class="form-field-error">
    <mat-form-field>
      <mat-label>{{ 'ctrl.select.category' | translate }}</mat-label>
      <mat-select formControlName="category" [errorStateMatcher]="matcher" required>
        @for (item of budget.categories; track item.id) {
        <mat-option [value]="item.id">
          {{ item.categoryName }}
        </mat-option>
        }
      </mat-select>
      @if(category?.invalid) {
      <mat-error>{{ getErrorMessage(category) }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'ctrl.select.unit' | translate }}</mat-label>
      <mat-select
        formControlName="unit"
        [errorStateMatcher]="matcher"
        (selectionChange)="onChangeUnit($event)"
        required
      >
        @for (item of budget.units; track item.id) {
        <mat-option [value]="item.id">
          {{ item.unitName }}
        </mat-option>
        }
      </mat-select>
      @if(unit?.invalid) {
      <mat-error>{{ getErrorMessage(unit) }}</mat-error>
      }
    </mat-form-field>

    @if(useCurrency) {
    <mat-form-field>
      <mat-label>{{ 'ctrl.select.currency' | translate }}</mat-label>
      <mat-select formControlName="currencyCode" [errorStateMatcher]="matcher">
        @for (item of budget.currencies; track item.code) {
        <mat-option [value]="item.code">
          {{ item.code }}
        </mat-option>
        }
      </mat-select>
      @if(currencyCode?.invalid) {
      <mat-error>{{ getErrorMessage(currencyCode) }}</mat-error>
      }
    </mat-form-field>
    }

    <mat-form-field>
      <mat-label>{{ 'ctrl.input.value' | translate }}</mat-label>
      <input matInput type="text" formControlName="unitValue" [errorStateMatcher]="matcher" required />
      @if(unitValue?.invalid) {
      <mat-error>{{ getErrorMessage(unitValue) }}</mat-error>
      }
    </mat-form-field>
  </div>

  <mat-form-field class="form-field-note">
    <mat-label>{{ 'global.note' | translate }}</mat-label>
    <textarea
      matInput
      formControlName="note"
      rows="4"
      [rows]="noteFieldRows"
      appFocus
      (focused)="onFocus()"
      (unfocused)="onBlur()"
    ></textarea>
    @if(note?.invalid) {
    <mat-error>{{ getErrorMessage(note) }}</mat-error>
    }
  </mat-form-field>

  <div>
    <button
      mat-flat-button
      type="submit"
      [disabled]="
        category?.invalid ||
        unit?.invalid ||
        unitValue?.invalid ||
        category?.value === -1 ||
        unit?.value === -1 ||
        (useCurrency && currencyCode?.value === -1) ||
        (useCurrency && currencyCode?.invalid)
      "
    >
      {{ 'ctrl.button.save.budget_item' | translate }}
    </button>
    <mat-radio-group class="v-radio-group" formControlName="action" (change)="onChangeAction()">
      <mat-radio-button value="add">{{ 'global.add' | translate }}</mat-radio-button>
      <mat-radio-button value="edit" [disabled]="action?.value === 'add'">{{
        'global.edit' | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </div>
</form>

<div class="row-xl filter">
  <div>
    <button mat-button type="button" (click)="showFilter = !showFilter" data-testid="show-filter">
      {{ 'ctrl.button.filter' | translate }}
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>

  @if(showFilter) {
  <mat-form-field>
    <mat-label>{{ 'ctrl.select.category' | translate }}</mat-label>
    <mat-select [value]="budget.filter.categoryId" (selectionChange)="onChangeFilter($event, 'category')">
      <mat-option [value]="-1">{{ 'ctrl.select.all_categories' | translate }}</mat-option>
      @for (item of budget.categories; track item.id) {
      <mat-option [value]="item.id">
        {{ item.categoryName }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  }
</div>

<div class="max-table-height">
  <table mat-table [dataSource]="budgetItems()" class="tbl">
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>{{ 'page.label.category' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.categoryName }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>{{ 'page.label.unit' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.unitName }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="currencyCode">
      <th mat-header-cell *matHeaderCellDef>{{ 'page.label.currency' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.currencyCode !== '' ? item.currencyCode : '-' }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="unitValue">
      <th mat-header-cell *matHeaderCellDef>{{ 'ctrl.input.value' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-label>{{ item.unitValue | number : '1.0-2' }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef>{{ 'global.note' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <mat-label class="shorten-text-s">{{ item.note }}</mat-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button
          mat-icon-button
          type="button"
          title="{{ 'ctrl.button.delete.budget_item' | translate }}"
          (click)="onDeleteItem($event, item)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let item; columns: displayedColumns"
      [class.selected]="item.selected"
      (click)="onSelectItem(item)"
    ></tr>
  </table>
</div>
} @else { @if(pageLoaded()) {
<!-- No units -->
<div>
  {{ 'page.empty.unit' | translate }} <a href="/feature/unit">{{ 'page.link.add_unit' | translate }}</a
  >.
</div>
} } } @else { @if(pageLoaded()) {
<!-- No categories -->
<div>
  {{ 'page.empty.category' | translate }} <a href="/feature/category">{{ 'page.link.add_category' | translate }}</a
  >.
</div>
} } } @else { @if(pageLoaded()) {
<!-- No years -->
<div>{{ 'page.empty.budget' | translate }}</div>
} } }
