<h2>Skapa Version {{ budgetState.hasBudget ? '- Budget: ' + budgetState.budgetName : '' }}</h2>

<ng-container *ngIf="budgetYear$ | async as budget">
  <ng-container *ngIf="budget.budgetYears.length !== 0; else noExistingYears">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onCreateVersion(formDirective)">
      <div class="form-field-error">
        <mat-form-field>
          <mat-label>Välj år</mat-label>
          <mat-select
            formControlName="budgetYearId"
            [errorStateMatcher]="matcher"
            (selectionChange)="onChangeYear($event)"
            required
            data-testid="budget-year"
          >
            <mat-option *ngFor="let item of budget.budgetYears" [value]="item.id">
              {{ item.year }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="budgetYearId?.invalid">{{ getErrorMessage(budgetYearId, 'År') }}</mat-error>
        </mat-form-field>
      </div>

      <div class="row-xl" *ngIf="budget.budgetYears.length > 0">
        <mat-checkbox formControlName="copy" (change)="onChangeCopyBudget($event)" data-testid="copy">
          Kopiera föregående versions budgetposter
        </mat-checkbox>
      </div>

      <div *ngIf="budgetYearId?.value !== -1">
        <app-currency-form
          [currencies$]="currencies$"
          [deletable]="!budget.copy"
          formControlName="currencyForm"
        ></app-currency-form>
      </div>

      <div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="$any(currencies$ | async).length === 0 || budgetYearId?.value === -1"
        >
          Skapa version
        </button>
      </div>
    </form>
  </ng-container>
</ng-container>

<ng-template #noExistingYears>
  <div *ngIf="pageLoaded">Det finns inget budgetår att skapa en version för</div>
</ng-template>
