<h2>Hantera Kategorier {{ budgetState.hasBudget ? '- Budget: ' + budgetState.budgetName : '' }}</h2>

<ng-container *ngIf="(pageLoaded$ | async) && budgetState.hasBudget; else noExistingBudget">
  <form
    [formGroup]="form"
    #formDirective="ngForm"
    autocomplete="off"
    (ngSubmit)="onSaveCategory(formDirective)"
    data-testid="form"
  >
    <div class="form-field-error">
      <mat-form-field>
        <mat-label>Kategori</mat-label>
        <input
          #itemRef
          matInput
          placeholder="Ange kategori"
          formControlName="categoryName"
          type="text"
          [errorStateMatcher]="matcher"
          data-testid="category"
        />
        <mat-error *ngIf="categoryName?.invalid" data-testid="category-error">
          {{ getErrorMessage(categoryName, 'Kategori') }}
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="form">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" data-testid="submit">
        Spara
      </button>
      <mat-radio-group class="v-radio-group" formControlName="action" (change)="onChangeAction()" data-testid="action">
        <mat-radio-button value="add">Lägg till kategori</mat-radio-button>
        <mat-radio-button value="edit" [disabled]="action?.value === 'add'">Ändra vald kategori</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>

  <div class="row-xl max-table-height">
    <table mat-table [dataSource]="$any(categories$ | async)" class="tbl">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Kategori</th>
        <td mat-cell *matCellDef="let item">
          <mat-label>{{ item.categoryName }}</mat-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button
            mat-icon-button
            type="button"
            title="Ta bort kategori"
            (click)="onDeleteCategory($event, item)"
            data-testid="delete"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let item; columns: displayedColumns"
        [class.selected]="item.selected"
        (click)="onSelectCategory(item)"
        data-testid="select-item"
      ></tr>
    </table>
  </div>
</ng-container>

<ng-template #noExistingBudget>
  <div *ngIf="pageLoaded$ | async">
    Det finns ingen budget upplagd som kategorier kan kopplas till.
    <a href="/feature/create-budget">Skapa en ny budget</a>.
  </div>
</ng-template>
